.logo {
  font-family: "Allison", cursive !important;
  transition: 0.5s;
  font-weight: bolder;
  font-size: 5rem !important;
}

.logo:hover {
  color: #55c57a;
}

@media screen and (min-width: 1000px) {
  .container_fluid {
    height: 70px;
  }
}
