#header {
  width: 100%;
  height: 80vh;
}

#header h4 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 700;
  color: black;
}

#header h2 {
  color: #484848;
  font-size: 24px;
}

.mybtn {
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #55c57a;
  border: 2px solid #55c57a;
  text-decoration: none;
  background-color: white;
}

.mybtn:hover {
  background: #55c57a;
  color: #fff;
  transform: scale(1.3);
  font-weight: bolder;
}

.headerImg {
  text-align: right;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 1000px) {
  #header {
    margin-top: 100px;
  }
  .brandName {
    font-size: 30px !important;
  }
}

.brandName {
  display: block;
  font-size: 60px;
  color: #0277bd;
  font-weight: bold;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: text 5s steps(15) infinite;
  border-right: 3px solid #0277bd;
  letter-spacing: 3px;
  margin-top: 13px;
}

@keyframes text {
  0% {
    width: 0ch;
  }
  50% {
    width: 15ch;
  }
}
